html {
  min-width: 360px;
  scroll-behavior: smooth;
}

/* custom directives */
.windi-section-title {
  @apply mb-8 select-none text-7xl font-bold text-black dark:(text-white);
}

/* ====== prose section ====== */
/* blockquote */
.prose blockquote {
  border: none;
  margin: 0;
  padding: 0;
}

.prose blockquote p {
  background: linear-gradient(90deg, #4969ed, #3bd86d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 1.5em;
  margin: 1rem 0;
  padding: 1rem 0;
}

.prose blockquote p::before {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  pointer-events: none;
  content: '“' !important;
  -webkit-text-fill-color: transparent;
  clip-path: polygon(0px 0px, 100% 0px, 100% 98%, 0px 98%);
  background-clip: text;
  background-color: rgb(65 97 228);
}

/* first letter */
.prose > p:first-of-type {
  padding-top: 70px;
}

.prose > p:first-of-type::first-letter {
  float: left;
  padding: 0 20px;
  margin-top: -10px;
  margin-right: 12px;
  font-size: 2rem;
  color: #4399be;
  border: 2px solid #6378ca;
  border-image: linear-gradient(135deg, #6378ca, #6ddb90) 1;
}
